<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label for="username"> User Name :  </label>
                <input type="text" id="username" name="username" autofocus="autofocus"/></div>
            <div><label for="password"> Password:  </label>
                <input type="password" id="password" name="password"/>
            </div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <p>Don't have an account?</p>
        <a href="@{/registration}">Create and account!</a>
    </body>
</html>