<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Recipe Man</title>
</head>
<body>
<div align="center">
    <h1>Recipe List</h1>
    <a href="/recipes/userRecipes/new">Create New Recipe</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
               
                <th>Name</th>
                <th>Description</th>
                <!-- <th>Img</th> -->
                <th>Ingredients</th>
                <th>Preparation</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe : ${userRecipeList}">
                
                <td th:text="*{recipe.title}">Name</td>
                <td th:text="*{recipe.description}">Description</td>
                <!-- <td th:text="${recipe.img}">Img</td> -->
                <td th:text="*{{recipe.ingredients}}">Ingredients</td>
                <td th:text="*{recipe.preparation}">Preparation</td>
                <!-- <td>
                    <a th:href="@{'/edit/' + ${recipe.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${recipe.RecipeId}}">Delete</a>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>